#main{
  margin-top: 4em;
}
#waiting{
  margin-top: 8em;
  color: #999;
}
#visualizations{
  margin-top: 2em;
}
.chart{
  display: block;
  margin-top: 1em;
  margin-bottom: 2em;
}
.ctitle,.ctable{
  display: none;
}
