{% extends "base.html" %}

{% block scripts %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script src="{{ url_for('static', filename='js/doctors.js') }}"></script>
  <script src="https://www.google.com/jsapi"></script>
  <script>
    google.load('visualization', '1.1', {'packages': ['scatter']});
    google.setOnLoadCallback(startVisuals);
  </script>

{% endblock %}

{% block body %}

  <div>

    <h2 id="doctors">Rhode Island Doctors <span id="doctor-count"></span></h2>
    <p><em>Source:</em> Medicare.gov </p>
    <a href="{{ url_for('index') }}"> &larr; back to index </a>

    <h4 id="waiting">
      Loading JSON data, please wait...</h4>

  </div>

  <div id="visualizations">


    <h5 class="ctitle">Gender (chart.js)</h5>
    <canvas id="chartOne" class="chart"></canvas>

    <h5 class="ctitle">Graduation Year vs. Number of Practice Members (Google Visualization API)</h5>
    <div id="chartThree" class="chart"></div>

    <h5 class="ctitle">Top Medical Schools (jQuery)</h5>
    <div id="chartTwo" class="chart" style="max-height: 1000px; overflow: scroll;">


    <table class="ctable">
      <thead>
        <th>Medical School</th>
        <th># Physicians</th>
      </thead>
      <tbody id="chartTwoBody">

      </tbody>
    </table>

    </div>

  </div>

{% endblock %}
